h2 {
  text-align: center;
}

#char-card {
  border-style: solid;
  border-width: thin;
  margin: 10px;
  align-items: center;
  width: 20%;
  text-align: center;
  padding: 5px;
}

#char-card img {
  width: 100%;
}

#char-card p {
  font-weight: bold;
}

#wrap-arnold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}